<div class="main">
    <div class="header-title-card"> 
        <div class="title" role="banner">
            <h1>Compétitions</h1>
        </div>
        <div class="competition-card-container">
            <div class="card-container" *ngFor="let competition of competitions ; let i = index"> 
                <a class="card" 
                    (click)="onViewDetail(i)">
                    <div class="card-comp">
                        <img class="img" style="max-width:65px;" [src]="competition.emblemUrl">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="content" role="main">        
        <app-competition-carousel></app-competition-carousel>
    </div>
</div>
